.uppercase  {
    color: pink;
}

.bd {
    background-color: beige;
}

#uppercase-two {
    color:blueviolet;
}

html {
    scroll-behavior: smooth;
}

#lorem {
    padding-left: 5px;
    padding-right: 5px;
    border-top: solid black 2px;
    border-bottom: solid gray 4px;
}

#paragraph {
    border: 10px lightgreen ridge;
    margin: 5px;
}